
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DrugConsent</title>
</head>
<body>
    <h3>Hey look, a drug consent form.</h3>
</body>
</html>
